<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">

<script>
(function(){ var data = { "resource": { "version":"11", "macros":[{"function":"__e"},{"function":"__c","vtp_value":"google.ca"},{"function":"__c","vtp_value":0},{"vtp_signal":0,"function":"__c","vtp_value":0}], "tags":[{"function":"__ogt_cross_domain","priority":10,"tag_id":12},{"function":"__gct","vtp_trackingId":"G-VS9VX55SM8","vtp_sessionDuration":0,"tag_id":7},{"function":"__ogt_ga_send","vtp_value":false,"tag_id":9},{"function":"__ogt_session_timeout","vtp_engagementSeconds":30,"vtp_sessionMinutes":30,"vtp_sessionHours":0,"tag_id":11},{"function":"__ccd_conversion_marking","vtp_conversionRules":["list",["map","matchingRules","{\"type\":5,\"args\":[{\"stringValue\":\"purchase\"},{\"contextValue\":{\"namespaceType\":1,\"keyParts\":[\"eventName\"]}}]}"]],"vtp_instanceDestinationId":"G-VS9VX55SM8","tag_id":13},{"function":"__ccd_ga_regscope","vtp_settingsTable":["list",["map","redactFieldGroup","DEVICE_AND_GEO","disallowAllRegions",true,"disallowedRegions",""],["map","redactFieldGroup","GOOGLE_SIGNALS","disallowAllRegions",true,"disallowedRegions",""]],"vtp_instanceDestinationId":"G-VS9VX55SM8","tag_id":14},{"function":"__set_product_settings","vtp_instanceDestinationId":"G-VS9VX55SM8","vtp_foreignTldMacroResult":["macro",1],"vtp_isChinaVipRegionMacroResult":["macro",2],"tag_id":15},{"function":"__ogt_google_signals","vtp_googleSignals":"DISABLED","vtp_instanceDestinationId":"G-VS9VX55SM8","vtp_serverMacroResult":["macro",3],"tag_id":16}], "predicates":[{"function":"_eq","arg0":["macro",0],"arg1":"gtm.js"},{"function":"_eq","arg0":["macro",0],"arg1":"gtm.init"}], "rules":[[["if",0],["add",1]],[["if",1],["add",2,3,0,4,5,6,7]]] }, "runtime":[[50,"__ogt_ga_send",[46,"a"],[50,"g",[46,"h","i","j","k"],[22,[21,[16,[15,"h"],[15,"i"]],[44]],[46,[43,[15,"j"],[15,"k"],[16,[15,"h"],[15,"i"]]]]]],[22,[28,[17,[15,"a"],"value"]],[46,[2,[15,"a"],"gtmOnSuccess",[7]],[36]]],[52,"b",["require","getContainerVersion"]],[52,"c",["require","internal.getDestinationIds"]],[52,"d",["require","internal.sendGtagEvent"]],[52,"e",["require","internal.addGaSendListener"]],[41,"f"],[3,"f",["c"]],[22,[30,[28,[15,"f"]],[20,[17,[15,"f"],"length"],0]],[46,[3,"f",[7,[17,["b"],"containerId"]]]]],["e",[51,"",[7,"h","i"],[41,"j"],[41,"k"],[3,"k",[8]],[22,[20,[15,"h"],"event"],[46,[3,"j",[16,[15,"i"],"eventAction"]],["g",[15,"i"],"eventCategory",[15,"k"],"event_category"],["g",[15,"i"],"eventLabel",[15,"k"],"event_label"],["g",[15,"i"],"eventValue",[15,"k"],"value"]],[46,[22,[20,[15,"h"],"exception"],[46,[3,"j","exception"],["g",[15,"i"],"exDescription",[15,"k"],"description"],["g",[15,"i"],"exFatal",[15,"k"],"fatal"]],[46,[22,[20,[15,"h"],"timing"],[46,[22,[30,[30,[20,[16,[15,"i"],"timingCategory"],[44]],[20,[16,[15,"i"],"timingVar"],[44]]],[20,[16,[15,"i"],"timingValue"],[44]]],[46,[36]]],[3,"j","timing_complete"],["g",[15,"i"],"timingCategory",[15,"k"],"event_category"],["g",[15,"i"],"timingVar",[15,"k"],"name"],["g",[15,"i"],"timingValue",[15,"k"],"value"],["g",[15,"i"],"timingLabel",[15,"k"],"event_label"]]]]]]],[22,[21,[15,"j"],[44]],[46,[53,[52,"l",[8,"eventMetadata",[8,"event_usage",[7,7]]]],[65,"m",[15,"f"],[46,[22,[20,[2,[15,"m"],"indexOf",[7,"G-"]],0],[46,["d",[15,"m"],[15,"j"],[15,"k"],[15,"l"]]]]]]]]]]],[2,[15,"a"],"gtmOnSuccess",[7]]],[50,"__ccd_ga_regscope",[46,"a"],[50,"k",[46,"m"],[22,[30,[28,[15,"i"]],[21,[17,[15,"i"],"length"],2]],[46,[36,false]]],[52,"n",["l",[15,"m"]]],[53,[41,"o"],[3,"o",0],[63,[7,"o"],[23,[15,"o"],[17,[15,"n"],"length"]],[33,[15,"o"],[3,"o",[0,[15,"o"],1]]],[46,[53,[52,"p",[16,[15,"n"],[15,"o"]]],[52,"q",[17,[15,"p"],"countryCode"]],[52,"r",[17,[15,"p"],"regionCode"]],[52,"s",[20,[15,"q"],[15,"i"]]],[52,"t",[30,[28,[15,"r"]],[20,[15,"r"],[15,"j"]]]],[22,[1,[15,"s"],[15,"t"]],[46,[36,true]]]]]]],[36,false]],[50,"l",[46,"m"],[52,"n",[7]],[22,[28,[15,"m"]],[46,[36,[15,"n"]]]],[52,"o",[2,[15,"m"],"split",[7,","]]],[53,[41,"p"],[3,"p",0],[63,[7,"p"],[23,[15,"p"],[17,[15,"o"],"length"]],[33,[15,"p"],[3,"p",[0,[15,"p"],1]]],[46,[53,[52,"q",[2,[16,[15,"o"],[15,"p"]],"trim",[7]]],[22,[28,[15,"q"]],[46,[6]]],[52,"r",[2,[15,"q"],"split",[7,"-"]]],[52,"s",[16,[15,"r"],0]],[52,"t",[39,[20,[17,[15,"r"],"length"],2],[15,"q"],[44]]],[22,[30,[28,[15,"s"]],[21,[17,[15,"s"],"length"],2]],[46,[6]]],[22,[1,[21,[15,"t"],[44]],[30,[23,[17,[15,"t"],"length"],4],[18,[17,[15,"t"],"length"],6]]],[46,[6]]],[2,[15,"n"],"push",[7,[8,"countryCode",[15,"s"],"regionCode",[15,"t"]]]]]]]],[36,[15,"n"]]],[52,"b",["require","getContainerVersion"]],[52,"c",["require","internal.setRemoteConfigParameter"]],[52,"d",["require","internal.getCountryCode"]],[52,"e",["require","internal.getRegionCode"]],[22,[28,[17,[15,"a"],"settingsTable"]],[46,[2,[15,"a"],"gtmOnSuccess",[7]],[36]]],[41,"f"],[52,"g",[8,"GOOGLE_SIGNALS",[7,[8,"name","allow_google_signals","value",false]],"DEVICE_AND_GEO",[7,[8,"name","geo_granularity","value",true],[8,"name","redact_device_info","value",true]]]],[52,"h",[30,[17,[15,"a"],"instanceDestinationId"],[17,["b"],"containerId"]]],[52,"i",["d"]],[52,"j",["e"]],[53,[41,"m"],[3,"m",0],[63,[7,"m"],[23,[15,"m"],[17,[17,[15,"a"],"settingsTable"],"length"]],[33,[15,"m"],[3,"m",[0,[15,"m"],1]]],[46,[53,[52,"n",[16,[17,[15,"a"],"settingsTable"],[15,"m"]]],[22,[30,[17,[15,"n"],"disallowAllRegions"],["k",[17,[15,"n"],"disallowedRegions"]]],[46,[53,[52,"o",[16,[15,"g"],[17,[15,"n"],"redactFieldGroup"]]],[22,[28,[15,"o"]],[46,[6]]],[53,[41,"p"],[3,"p",0],[63,[7,"p"],[23,[15,"p"],[17,[15,"o"],"length"]],[33,[15,"p"],[3,"p",[0,[15,"p"],1]]],[46,[53,[52,"q",[16,[15,"o"],[15,"p"]]],["c",[15,"h"],[17,[15,"q"],"name"],[17,[15,"q"],"value"]]]]]]]]]]]]],[2,[15,"a"],"gtmOnSuccess",[7]]],[50,"__ogt_google_signals",[46,"a"],[52,"b",["require","internal.setProductSettingsParameter"]],[52,"c",["require","getContainerVersion"]],[52,"d",[13,[41,"$0"],[3,"$0",["require","internal.getFlags"]],["$0"]]],[52,"e",[30,[17,[15,"a"],"instanceDestinationId"],[17,["c"],"containerId"]]],["b",[15,"e"],"google_signals",[20,[17,[15,"a"],"serverMacroResult"],1]],[22,[17,[15,"d"],"enableGa4OnoRemarketing"],[46,["b",[15,"e"],"google_ono",[20,[17,[15,"a"],"serverMacroResult"],2]]]],[2,[15,"a"],"gtmOnSuccess",[7]]],[50,"__ogt_cross_domain",[46,"a"],[52,"b",["require","internal.getDestinationIds"]],[52,"c",["require","internal.setRemoteConfigParameter"]],[22,[17,[15,"a"],"rules"],[46,[53,[41,"d"],[3,"d",[30,["b"],[7]]],[65,"e",[15,"d"],[46,["c",[15,"e"],"cross_domain_conditions",[17,[15,"a"],"rules"]]]]]]],[2,[15,"a"],"gtmOnSuccess",[7]]],[50,"__ccd_conversion_marking",[46,"a"],[50,"h",[46,"i"],[52,"j",[2,[15,"e"],"parse",[7,[15,"i"]]]],[22,[30,[30,[28,[15,"j"]],[28,[16,[15,"j"],"args"]]],[21,[17,[16,[15,"j"],"args"],"length"],2]],[46,[36]]],[52,"k",[16,[16,[16,[15,"j"],"args"],1],"contextValue"]],[22,[30,[30,[30,[28,[15,"k"]],[21,[16,[15,"k"],"namespaceType"],1]],[21,[17,[16,[15,"k"],"keyParts"],"length"],1]],[21,[16,[16,[15,"k"],"keyParts"],0],"eventName"]],[46,[36,[44]]]],[52,"l",[16,[16,[15,"j"],"args"],0]],[36,[1,[15,"l"],[16,[15,"l"],"stringValue"]]]],[22,[30,[28,[17,[15,"a"],"conversionRules"]],[20,[17,[17,[15,"a"],"conversionRules"],"length"],0]],[46,[2,[15,"a"],"gtmOnSuccess",[7]]]],[52,"b",["require","internal.setProductSettingsParameter"]],[52,"c",["require","internal.getProductSettingsParameter"]],[52,"d",["require","getContainerVersion"]],[52,"e",["require","JSON"]],[52,"f",[30,[17,[15,"a"],"instanceDestinationId"],[17,["d"],"containerId"]]],[52,"g",[30,["c",[15,"f"],"event_settings"],[8]]],[53,[41,"i"],[3,"i",0],[63,[7,"i"],[23,[15,"i"],[17,[17,[15,"a"],"conversionRules"],"length"]],[33,[15,"i"],[3,"i",[0,[15,"i"],1]]],[46,[53,[52,"j",["h",[16,[16,[17,[15,"a"],"conversionRules"],[15,"i"]],"matchingRules"]]],[22,[28,[15,"j"]],[46,[6]]],[41,"k"],[3,"k",[16,[15,"g"],[15,"j"]]],[22,[28,[15,"k"]],[46,[3,"k",[8]],[43,[15,"g"],[15,"j"],[15,"k"]]]],[43,[15,"k"],"conversion",true]]]]],["b",[15,"f"],"event_settings",[15,"g"]],[2,[15,"a"],"gtmOnSuccess",[7]]],[50,"__set_product_settings",[46,"a"],[52,"b",["require","internal.setProductSettingsParameter"]],[52,"c",["require","getContainerVersion"]],[52,"d",[30,[17,[15,"a"],"instanceDestinationId"],[17,["c"],"containerId"]]],["b",[15,"d"],"google_tld",[17,[15,"a"],"foreignTldMacroResult"]],["b",[15,"d"],"ga_restrict_domain",[20,[17,[15,"a"],"isChinaVipRegionMacroResult"],1]],[2,[15,"a"],"gtmOnSuccess",[7]]],[50,"__ogt_session_timeout",[46,"a"],[52,"b",["require","internal.getDestinationIds"]],[52,"c",["require","makeNumber"]],[52,"d",["require","internal.setRemoteConfigParameter"]],[41,"e"],[3,"e",[30,["b"],[7]]],[52,"f",[30,["c",[17,[15,"a"],"sessionHours"]],0]],[52,"g",[30,["c",[17,[15,"a"],"sessionMinutes"]],0]],[22,[30,[15,"f"],[15,"g"]],[46,[53,[52,"i",[0,[26,[15,"f"],60],[15,"g"]]],[65,"j",[15,"e"],[46,["d",[15,"j"],"session_duration",[15,"i"]]]]]]],[52,"h",[30,["c",[17,[15,"a"],"engagementSeconds"]],0]],[22,[15,"h"],[46,[53,[52,"i",[26,[15,"h"],1000]],[65,"j",[15,"e"],[46,["d",[15,"j"],"session_engaged_time",[15,"i"]]]]]]],[2,[15,"a"],"gtmOnSuccess",[7]]]] ,"permissions":{"__ogt_ga_send":{"access_globals":{"keys":[{"key":"ga.q","read":true,"write":true,"execute":true},{"key":"GoogleAnalyticsObject","read":true,"write":false,"execute":false}]},"read_container_data":{}},"__ccd_ga_regscope":{"read_container_data":{}},"__ogt_google_signals":{"read_container_data":{}},"__ogt_cross_domain":{},"__ccd_conversion_marking":{"read_container_data":{}},"__set_product_settings":{"read_container_data":{}},"__ogt_session_timeout":{}} ,"security_groups":{ "google":["__ogt_ga_send","__ccd_ga_regscope","__ogt_google_signals","__ogt_cross_domain","__ccd_conversion_marking","__set_product_settings","__ogt_session_timeout"]} };
</script>
<!--<script async src="https://www.googletagmanager.com/gtag/js?id=G-VS9VX55SM8"></script> -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
gtag('set', 'allow_google_signals', false);
  gtag('config', 'G-VS9VX55SM8');
</script>
<meta name="viewport" content="width=device-width">
<title>AI.Marketing, MarketBot and Artificial Intelligence</title>
<meta name="description" content="Hire an Artificial Intelligence robot to work for you with minimal supervision required. Fund your MarketBot campaign and watch it go to work.">
<link rel="canonical" href="https://marketbotai.com">
<link rel="icon" href="https://marketbotai.com/favicon-32x32-1.png" type="image/png">
<meta property="og:title" content="MarketBot - AI Marketing" />
<meta property="og:description" content="Work from home with MarketBot's Artificial Intelligence Robot" />
<meta property="og:image" content="https://marketbotai.com/ai.marketing-1.webp" />
<meta property="og:image:type" content="image/webp" />
<meta property="og:image:width" content="800" />
<meta property="og:image:height" content="548" />
<meta property="og:url" content="https://marketbotai.com" />
<meta property="og:type" content="website" />
<style>
@media screen and (max-width: 500px) {
.btn {
min-height: 15px !important;
min-width: 100px !important;
line-height: 15px !important;
}
.btnbottom {
min-height: 12px !important;
min-width: 100px !important;
line-height: 12px !important;
}
#css-bottom {
font-size: 12px !important;
}
#css-padding {
font-size: 20px !important;
}
#css-align {
font-size: 20px !important;
}
footer {
font-size: 12px !important;
}
}
@media screen and (min-width: 600px) {
.btn {
min-height: 25px !important;
min-width: 100px !important;
line-height: 25px !important;
}
.btnbottom {
min-height: 16px !important;
min-width: 100px !important;
line-height: 16px !important;
}
#css-bottom {
font-size: 16px !important;
}
#css-padding {
font-size: 25px !important;
}
#css-align {
font-size: 25px !important;
}
footer {
font-size: 16px !important;
}
}
@media screen and (min-width: 850px) {
.btn {
min-height: 30px !important;
min-width: 100px !important;
line-height: 30px !important;
}
.btnbottom {
min-height: inherit !important;
min-width: 100px !important;
line-height: inherit !important;
}
#css-bottom {
font-size: 30px !important;
}
#css-padding {
font-size: 48px !important;
}
#css-align {
font-size: 48px !important;
}
footer {
font-size: inherit !important;
}
}
html {
margin: 0px 0px;
color: white;
position: relative;
font-family: 'IBM-Plex-SemiBold', sans-serif;
}
.btn {
--swiper-theme-color: #007aff;
-webkit-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
display: inline-flex;
align-items: center;
justify-content: center;
padding: 0.675em 1em .5em;
border-radius: 4px;
outline: none;
text-align: center;
margin: 0;
color: #fff;
cursor: pointer;
font-family: "IBM-Plex-SemiBold", sans-serif;
box-shadow: 0 4px 10px rgba(0,0,0,.15);
white-space: normal;
border: 3px solid #28beb2;
background: inherit;
text-decoration: none;
text-transform: uppercase;
margin-top: 0.5em;
}
.btnbottom {
--swiper-theme-color: #007aff;
-webkit-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
display: inline-flex;
align-items: center;
justify-content: center;
padding: 0.3em 0.6em;
border-radius: 4px;
outline: none;
text-align: center;
margin: 0;
color: #fff;
cursor: pointer;
font-family: "IBM-Plex-SemiBold", sans-serif;
box-shadow: 0 4px 10px rgba(0,0,0,.15);
white-space: normal;
border: 3px solid #28beb2;
background: inherit;
text-decoration: none;
text-transform: uppercase;
margin-top: 1%;
}
body {
margin: 0px 0px;
color: white;
}
img {
width: 100%;
height: auto;
display: block;
}
#css-svg {
width: 40%;
display: block;
margin-left: 5%;
margin-top: 10%;
}
#css-top-div {
background: url('https://marketbotai.com/logo.a1a2f16.svg') 5% 5% no-repeat, linear-gradient(to right, #003665, #00a3b6);
background-size: 40% auto, 100% auto;
position: relative;
text-align: center;
width: 100%;
display: inline-block;
margin: 0px 0px;
}
#css-bottom-div {
position: relative;
display: block;
width: 100%;
}
#css-bottom {
position: absolute;
text-align: center;
margin-left: 10%;
width: 80%;
bottom: 2%;
}
#css-padding {
margin-left: 10%;
margin-right: 10%;
margin-bottom: 10%;
}
#css-align {
margin-top: 20%;
}
#footer {
position: relative;
left: 0;
bottom: 0;
width: 100%;
background-color: black;
color: white;
text-align: center;
}
</style>
</head>
<body>
<div id="css-top-div">
<div id="css-align"><h1>MarketBot</h1>
<div id="css-padding">Earn up to 35% Cashback!<br>Without complications.<br><br><a class="btn" href="https://ai.marketing/en/campaign/lul22ks3j8">Sign in | Sign up</a></div></div></div>
<img src="https://marketbotai.com/ai.marketing-1.webp" style="width: 800; height: 548; display: block;" alt="ai marketing">

<div id="css-bottom-div">
  <img src="https://marketbotai.com/ai-4-1.webp" style="width: 790; height: 469; display: block;" alt="marketbot">

<div id="css-bottom">Find out how MarketBot can change your business.<br>USD50 Gift Certificate at registration!<br><a class="btnbottom" href="https://ai.marketing/en/campaign/lul22ks3j8">GET USD50 ADVERTISING BUDGET!</a></div></div><div id="footer">All Rights Reserved.</div>
</body>
</html>
