<!DOCTYPE html>
<html lang="en">
<head>

<!-- <meta name="google" value="notranslate"> -->
<meta charset="UTF-8">
<link rel="preload" as="image" href="ai.marketing-1.webp" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-7SG1H5JNXC"></script>
<script async>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7SG1H5JNXC');
gtag('config', 'UA-199797979-2');
</script>
-->

<!-- Google Tag Manager -->
<script async>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NLZ7RD6');</script>
<!-- End Google Tag Manager -->
<!--
<script async>
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "bc1248qfvk");
</script>-->

<meta name="viewport" content="width=device-width">
<title>AI.marketing | MarketBot, Cashback and Artificial Intelligence in Marketing</title>
<meta name="description" content="Work from home with the power of AI. Find out how AI Marketing's MarketBot can change your business.">
<link rel="canonical" href="https://marketbotai.com">
<link rel="icon" href="/favicon-32x32-1.png" type="image/png">
<meta property="og:title" content="MarketBot - AI Marketing" />
<meta property="og:description" content="Work from home with MarketBot's Artificial Intelligence Robot" />
<meta property="og:image" content="https://marketbotai.com/ai.marketing-1.webp" />
<meta property="og:image:type" content="image/webp" />
<meta property="og:image:width" content="800" />
<meta property="og:image:height" content="548" />
<meta property="og:url" content="https://marketbotai.com" />
<meta property="og:type" content="website" />
<style>
@media screen and (max-width: 500px) {
.btn {
min-height: 15px !important;
min-width: 100px !important;
line-height: 15px !important;
}
.btnbottom {
min-height: 12px !important;
min-width: 100px !important;
line-height: 12px !important;
}
#css-bottom {
font-size: 12px !important;
}
#css-padding {
font-size: 20px !important;
}
#css-align {
font-size: 20px !important;
}
footer {
font-size: 12px !important;
}
}
@media screen and (min-width: 600px) {
.btn {
min-height: 25px !important;
min-width: 100px !important;
line-height: 25px !important;
}
.btnbottom {
min-height: 16px !important;
min-width: 100px !important;
line-height: 16px !important;
}
#css-bottom {
font-size: 16px !important;
}
#css-padding {
font-size: 25px !important;
}
#css-align {
font-size: 25px !important;
}
footer {
font-size: 16px !important;
}
}
@media screen and (min-width: 850px) {
.btn {
min-height: 30px !important;
min-width: 100px !important;
line-height: 30px !important;
}
.btnbottom {
min-height: inherit !important;
min-width: 100px !important;
line-height: inherit !important;
}
#css-bottom {
font-size: 30px !important;
}
#css-padding {
font-size: 48px !important;
}
#css-align {
font-size: 48px !important;
}
footer {
font-size: inherit !important;
}
}
html {
margin: 0px 0px;
color: white;
position: relative;
font-family: 'IBM-Plex-SemiBold', sans-serif;
}
.btn {
--swiper-theme-color: #007aff;
-webkit-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
display: inline-flex;
align-items: center;
justify-content: center;
padding: 0.675em 1em .5em;
border-radius: 4px;
outline: none;
text-align: center;
margin: 0;
color: #fff;
cursor: pointer;
font-family: "IBM-Plex-SemiBold", sans-serif;
box-shadow: 0 4px 10px rgba(0,0,0,.15);
white-space: normal;
border: 3px solid #28beb2;
background: inherit;
text-decoration: none;
text-transform: uppercase;
margin-top: 0.5em;
}
.btnbottom {
--swiper-theme-color: #007aff;
-webkit-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
display: inline-flex;
align-items: center;
justify-content: center;
padding: 0.3em 0.6em;
border-radius: 4px;
outline: none;
text-align: center;
margin: 0;
color: #fff;
cursor: pointer;
font-family: "IBM-Plex-SemiBold", sans-serif;
box-shadow: 0 4px 10px rgba(0,0,0,.15);
white-space: normal;
border: 3px solid #28beb2;
background: inherit;
text-decoration: none;
text-transform: uppercase;
margin-top: 1%;
}
body {
margin: 0px 0px;
color: white;
}
img {
width: 100%;
height: auto;
display: block;
}
#css-svg {
width: 40%;
display: block;
margin-left: 5%;
margin-top: 10%;
}
#css-top-div {
background: url('/logo.a1a2f16.svg') 5% 5% no-repeat, linear-gradient(to right, #003665, #00a3b6);
background-size: 40% auto, 100% auto;
position: relative;
text-align: center;
width: 100%;
display: inline-block;
margin: 0px 0px;
}
#css-bottom-div {
position: relative;
display: block;
width: 100%;
}
#css-bottom {
position: absolute;
text-align: center;
margin-left: 10%;
width: 80%;
bottom: 2%;
}
#css-padding {
margin-left: 10%;
margin-right: 10%;
margin-bottom: 10%;
}
#css-align {
margin-top: 20%;
}
#footer {
position: relative;
left: 0;
bottom: 0;
width: 100%;
background-color: black;
color: white;
text-align: center;
}

span {
	padding-right: 15px;
	padding-left: 15px;
}

.container {
z-index: 10;
	display: flex;
  justify-content: right;
	align-items: right;
	width: 100%;
	height: 50%;
}

.chat {
	height: 300px;
	width: 100%;
	display: flex;
	flex-direction: column;
  justify-content: right;
	align-items: right;
} 

::-webkit-input-placeholder { 
	color: .711 
}
 
input { 
	border: 0; 
	padding: 15px; 
	margin-left: auto;
	border-radius: 10px; 
}

.messages {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	height: 90%;
	width: 80%;
	background-color: black;

	padding: 15px;
	margin: 15px;
	border-radius: 10px;
}

#bot {
	margin-right: auto;
}

#user {
	margin-left: auto;
}


.bot {
	font-family: Consolas, 'Courier New', Menlo, source-code-pro, Monaco,  
	monospace;
}

.avatar {
	height: 25px;
}

.response {
	display: flex;
	align-items: left;
	margin: 3%;
}

</style>

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLZ7RD6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="css-top-div">
<div id="css-align"><h1>MarketBot</h1>
<div id="css-padding">Earn up to 35% Cashback!<br>Without complications.<br><br><a class="btn" href="https://ai.marketing/en/campaign/lul22ks3j8">Sign in | Sign up</a></div></div></div>
<img src="ai.marketing-1.webp" style="width: 800; height: 548; display: block;" alt="ai marketing">

<div id="css-bottom-div">
<div id="container" class="container">
    <!--<img src="https://cdn.pixabay.com/photo/2020/01/02/16/38/chatbot-4736275_960_720.png" height="400vh" alt="Chatbot clipart"> -->
     <div id="chat" class="chat">
      <div id="messages" class="messages"></div>
       <form> 
      <input id="input" type="text" placeholder="Write something..." autocomplete="off" autofocus="true" required />
     <!-- <input id="myButton" type="submit"> -->
 </form> 
 </div> 
</div>
  <img src="ai-4-1.webp" style="width: 790; height: 469; display: block;" alt="marketbot">

<div id="css-bottom">Find out how MarketBot can change your business.<br>USD50 Gift Certificate at registration!<br><a class="btnbottom" href="https://ai.marketing/en/campaign/lul22ks3j8">GET USD50 ADVERTISING BUDGET!</a></div></div><div id="footer">All Rights Reserved.</div>
<script src="/main.js"></script>
</body>

</html>
